# Date dimensions

In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [2]:
dates = pd.read_csv("Extended_Date_Table.csv")

In [3]:
dates.head()

,Date_Key,Date_Full_Format,Day,Month,Year,Day_of_Week_Name,Day_of_Week_Num,Week_in_Year,Weekend_YN,Holiday_YN,Season
0,1,2020-03-23,23,3,2020,Monday,2,13,N,N,Spring
1,2,2020-03-24,24,3,2020,Tuesday,3,13,N,N,Spring
2,3,2020-03-25,25,3,2020,Wednesday,4,13,N,N,Spring
3,4,2020-03-26,26,3,2020,Thursday,5,13,N,N,Spring
4,5,2020-03-27,27,3,2020,Friday,6,13,N,N,Spring

In [5]:
Onset_dimension = pd.DataFrame(columns=['Onset_Date_Surrogate_Key','Onset_Date_Key', 'Date_Full_Format', 'Day','Month', 
                                        'Year', 'Day_of_Week_Name','Day_of_Week_Num', 'Week_in_Year', 'Weekend', 'Holiday', 
                                        'Season'])

Reported_dimension = pd.DataFrame(columns=['Reported_Date_Surrogate_Key','Reported_Date_Key', 'Date_Full_Format', 'Day','Month',
                                           'Year', 'Day_of_Week_Name','Day_of_Week_Num', 'Week_in_Year', 'Weekend', 'Holiday',
                                           'Season'])

Test_dimension = pd.DataFrame(columns=['Test_Date_Surrogate_Key','Test_Date_Key', 'Date_Full_Format', 'Day','Month', 
                                       'Year', 'Day_of_Week_Name','Day_of_Week_Num', 'Week_in_Year', 'Weekend', 'Holiday', 
                                       'Season'])

Specimen_dimension = pd.DataFrame(columns=['Specimen_Date_Surrogate_Key','Specimen_Date_Key', 'Date_Full_Format', 'Day','Month',
                                           'Year', 'Day_of_Week_Name','Day_of_Week_Num', 'Week_in_Year', 'Weekend', 'Holiday', 
                                           'Season'])

In [6]:
#Onset_dimension 

for idx, row in dates.iterrows():
    onset_row = [idx + 100]
    onset_row.append(row["Date_Key"])
    onset_row.append(row['Date_Full_Format']) 
    onset_row.append(row['Day'])
    onset_row.append(row['Month'])
    onset_row.append(row['Year'])
    onset_row.append(row['Day_of_Week_Name'])  
    onset_row.append(row['Day_of_Week_Num']) 
    onset_row.append(row["Week_in_Year"])
    onset_row.append(row['Weekend_YN'])
    onset_row.append(row['Holiday_YN'])
    onset_row.append(row['Season'])
    Onset_dimension.loc[len(Onset_dimension)] = onset_row

Onset_dimension

,Onset_Date_Surrogate_Key,Onset_Date_Key,Date_Full_Format,Day,Month,Year,Day_of_Week_Name,Day_of_Week_Num,Week_in_Year,Weekend,Holiday,Season
0,100,1,2020-03-23,23,3,2020,Monday,2,13,N,N,Spring
1,101,2,2020-03-24,24,3,2020,Tuesday,3,13,N,N,Spring
2,102,3,2020-03-25,25,3,2020,Wednesday,4,13,N,N,Spring
3,103,4,2020-03-26,26,3,2020,Thursday,5,13,N,N,Spring
4,104,5,2020-03-27,27,3,2020,Friday,6,13,N,N,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
349,449,350,2021-03-07,7,3,2021,Sunday,1,11,Y,N,Winter
350,450,351,2021-03-08,8,3,2021,Monday,2,11,N,N,Winter
351,451,352,2021-03-09,9,3,2021,Tuesday,3,11,N,N,Winter
352,452,353,2021-03-10,10,3,2021,Wednesday,4,11,N,N,Winter
353,453,354,2021-03-11,11,3,2021,Thursday,5,11,N,N,Winter

In [7]:
#Reported_dimension 

for idx, row in dates.iterrows():
    reported_row = [idx + 500]
    reported_row.append(row["Date_Key"])
    reported_row.append(row['Date_Full_Format']) 
    reported_row.append(row['Day'])
    reported_row.append(row['Month'])
    reported_row.append(row['Year'])
    reported_row.append(row['Day_of_Week_Name'])  
    reported_row.append(row['Day_of_Week_Num']) 
    reported_row.append(row["Week_in_Year"])
    reported_row.append(row['Weekend_YN'])
    reported_row.append(row['Holiday_YN'])
    reported_row.append(row['Season'])
    Reported_dimension.loc[len(Reported_dimension)] = reported_row

Reported_dimension

,Reported_Date_Surrogate_Key,Reported_Date_Key,Date_Full_Format,Day,Month,Year,Day_of_Week_Name,Day_of_Week_Num,Week_in_Year,Weekend,Holiday,Season
0,500,1,2020-03-23,23,3,2020,Monday,2,13,N,N,Spring
1,501,2,2020-03-24,24,3,2020,Tuesday,3,13,N,N,Spring
2,502,3,2020-03-25,25,3,2020,Wednesday,4,13,N,N,Spring
3,503,4,2020-03-26,26,3,2020,Thursday,5,13,N,N,Spring
4,504,5,2020-03-27,27,3,2020,Friday,6,13,N,N,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
349,849,350,2021-03-07,7,3,2021,Sunday,1,11,Y,N,Winter
350,850,351,2021-03-08,8,3,2021,Monday,2,11,N,N,Winter
351,851,352,2021-03-09,9,3,2021,Tuesday,3,11,N,N,Winter
352,852,353,2021-03-10,10,3,2021,Wednesday,4,11,N,N,Winter
353,853,354,2021-03-11,11,3,2021,Thursday,5,11,N,N,Winter

In [8]:
#Test_dimension 

for idx, row in dates.iterrows():
    test_row = [idx + 1000]
    test_row.append(row["Date_Key"])
    test_row.append(row['Date_Full_Format']) 
    test_row.append(row['Day'])
    test_row.append(row['Month'])
    test_row.append(row['Year'])
    test_row.append(row['Day_of_Week_Name'])  
    test_row.append(row['Day_of_Week_Num']) 
    test_row.append(row["Week_in_Year"])
    test_row.append(row['Weekend_YN'])
    test_row.append(row['Holiday_YN'])
    test_row.append(row['Season'])
    Test_dimension.loc[len(Test_dimension)] = test_row

Test_dimension

,Test_Date_Surrogate_Key,Test_Date_Key,Date_Full_Format,Day,Month,Year,Day_of_Week_Name,Day_of_Week_Num,Week_in_Year,Weekend,Holiday,Season
0,1000,1,2020-03-23,23,3,2020,Monday,2,13,N,N,Spring
1,1001,2,2020-03-24,24,3,2020,Tuesday,3,13,N,N,Spring
2,1002,3,2020-03-25,25,3,2020,Wednesday,4,13,N,N,Spring
3,1003,4,2020-03-26,26,3,2020,Thursday,5,13,N,N,Spring
4,1004,5,2020-03-27,27,3,2020,Friday,6,13,N,N,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
349,1349,350,2021-03-07,7,3,2021,Sunday,1,11,Y,N,Winter
350,1350,351,2021-03-08,8,3,2021,Monday,2,11,N,N,Winter
351,1351,352,2021-03-09,9,3,2021,Tuesday,3,11,N,N,Winter
352,1352,353,2021-03-10,10,3,2021,Wednesday,4,11,N,N,Winter
353,1353,354,2021-03-11,11,3,2021,Thursday,5,11,N,N,Winter

In [9]:
#Specimen_dimension 

for idx, row in dates.iterrows():
    specimen_row = [idx + 1500]
    specimen_row.append(row["Date_Key"])
    specimen_row.append(row['Date_Full_Format']) 
    specimen_row.append(row['Day'])
    specimen_row.append(row['Month'])
    specimen_row.append(row['Year'])
    specimen_row.append(row['Day_of_Week_Name'])  
    specimen_row.append(row['Day_of_Week_Num']) 
    specimen_row.append(row["Week_in_Year"])
    specimen_row.append(row['Weekend_YN'])
    specimen_row.append(row['Holiday_YN'])
    specimen_row.append(row['Season'])
    Specimen_dimension.loc[len(Specimen_dimension)] = specimen_row

Specimen_dimension

,Specimen_Date_Surrogate_Key,Specimen_Date_Key,Date_Full_Format,Day,Month,Year,Day_of_Week_Name,Day_of_Week_Num,Week_in_Year,Weekend,Holiday,Season
0,1500,1,2020-03-23,23,3,2020,Monday,2,13,N,N,Spring
1,1501,2,2020-03-24,24,3,2020,Tuesday,3,13,N,N,Spring
2,1502,3,2020-03-25,25,3,2020,Wednesday,4,13,N,N,Spring
3,1503,4,2020-03-26,26,3,2020,Thursday,5,13,N,N,Spring
4,1504,5,2020-03-27,27,3,2020,Friday,6,13,N,N,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
349,1849,350,2021-03-07,7,3,2021,Sunday,1,11,Y,N,Winter
350,1850,351,2021-03-08,8,3,2021,Monday,2,11,N,N,Winter
351,1851,352,2021-03-09,9,3,2021,Tuesday,3,11,N,N,Winter
352,1852,353,2021-03-10,10,3,2021,Wednesday,4,11,N,N,Winter
353,1853,354,2021-03-11,11,3,2021,Thursday,5,11,N,N,Winter

In [10]:
# export date dimensions to csv files

Onset_dimension.to_csv("Onset_Date_dimension.csv",index=False)
Reported_dimension.to_csv("Reported_Date_dimension.csv",index=False)
Test_dimension.to_csv("Test_Date_dimension.csv",index=False)
Specimen_dimension.to_csv("Specimen_Date_dimension.csv",index=False)