## Deliverable D - Data Mining

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import math
import pandas.io.sql as sqlio

In [3]:
! pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [4]:
import psycopg2

In [6]:
f = open(r"C:\Users\samet\Documents\passwordpy.txt", "r")
password = f.readline()
conn = psycopg2.connect(
    host = "www.eecs.uottawa.ca",
    port = 15432,
    user = "syilm068",
    database = "group_20",
    password = password
)

In [9]:
query_1 = "SELECT * FROM fact_table"
query_1_tosql = sqlio.read_sql_query(query_1, conn)

In [10]:
query_1_tosql.head()

,onset_date_key,reported_date_key,test_date_key,specimen_date_key,patient_key,phu_key,mobility_key,special_measures_key,weather_key,resolved,unresolved,fatal
0,0,275,275,106,0,0,181,7,180,1,0,0
1,12,239,239,12,195,0,145,6,144,1,0,0
2,25,221,221,219,65,0,127,5,126,1,0,0
3,40,233,233,83,243,0,139,5,138,1,0,0
4,128,290,290,288,111,0,196,8,195,1,0,0