In [123]:
import pandas as pd
import numpy as np

### Load data
Load data from all dimensions

In [124]:
# onset_date_dimension = pd.read_csv("")
# reported_date_dimension = pd.read_csv("")
# test_date_dimension = pd.read_csv("")
# specimen_date_dimension = pd.read_csv("")
# patient_dimension = pd.read_csv("")
# phu_dimension = pd.read_csv("")
mobility_dimension = pd.read_csv("../Mobility/mobility_dimension.csv")
special_measures_dimension = pd.read_csv("../Special_Measures/Restrictions.csv")
weather_dimension = pd.read_csv("../Weather/weather_dimension.csv")

In [125]:
# fact_table = pd.DataFrame(columns=['Onset_date_key', 'Reported_date_key', 'Test_date_key', 'Specimen_date_key', 'Patient_key', 'PHU_key',
#                                 'Mobility_key', 'Weather_key', 'Special_measures_key', 'Weather_key', 'Resolved', 'Unresolved', 'Fatal'])
fact_table = pd.DataFrame(columns=['Mobility_key', 'Weather_key'])

### Rename columns
Rename some columns to avoid duplicate keys

In [126]:
weather_dimension=weather_dimension.rename(columns={"surrogate_key": "Weather_key"})

### Normalize Location attributes
Replace locations with just Ottawa for Toronto. For example, "Ottawa Division" is replaced with "Ottawa".

In [127]:
mobility_dimension["Subregion"]=mobility_dimension["Subregion"].replace(["Ottawa Division"], "Ottawa")
mobility_dimension["Subregion"]=mobility_dimension["Subregion"].replace(["Toronto Division"], "Toronto")
weather_dimension["Station Name"]=weather_dimension["Station Name"].replace(["OTTAWA INTL A", "OTTAWA CDA RCS"], "Ottawa")
weather_dimension["Station Name"]=weather_dimension["Station Name"].replace(["TORONTO CITY", "TORONTO INTL A"], "Toronto")

### Map PHU, Mobility and Weather
Make intersection between these dimensions to map based on date and location.

In [128]:
mobility_weather = pd.merge(mobility_dimension, weather_dimension, left_on=["Date", "Subregion"], right_on=["Date/Time", "Station Name"], how="inner")

In [130]:
for idx, row in mobility_weather.iterrows():
    fact_row=[row["Mobility_key"], row["Weather_key"]]
    fact_table.loc[len(fact_table)] = fact_row

In [131]:
fact_table

    Mobility_key Weather_key
0              0           0
1              1           1
2              2           2
3              3           3
4              4           4
..           ...         ...
241          242         241
242          243         242
243          244         243
244          245         244
245          246         245

[246 rows x 2 columns]