## PHU dimension

In [97]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

In [98]:
cases = pd.read_csv("conposcovidloc.csv")

In [99]:
cases.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-06-16,2020-06-17,2020-06-17,2020-06-16,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
1,2,2020-05-14,2020-05-16,2020-05-16,2020-05-14,30s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
2,3,2020-04-30,2020-05-01,2020-05-01,2020-05-01,50s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,2020-04-14,2020-04-17,2020-04-17,2020-04-15,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,2020-07-01,2020-07-07,2020-07-07,2020-07-06,40s,MALE,OB,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [100]:
PHU_dimension = pd.DataFrame(columns=['PHU_Surrogate_Key','PHU_Key', 'PHU_Name','Address', 'City', 'Province',
                                     'Postal_Code', 'URL', 'Latitude', 'Longitude'])

In [101]:
PHU_dimension

for idx, row in cases.iterrows():
    
    if row["Reporting_PHU"] == "Toronto Public Health":
        PHU_row = [idx + 100]
        PHU_row.append(row["Row_ID"])
        PHU_row.append(row['Reporting_PHU'])
        PHU_row.append(row['Reporting_PHU_Address'])
        PHU_row.append(row['Reporting_PHU_City'])
        PHU_row.append("Ontario")  
        PHU_row.append(row['Reporting_PHU_Postal_Code'])
        PHU_row.append(row['Reporting_PHU_Website'])
        PHU_row.append(row['Reporting_PHU_Latitude'])
        PHU_row.append(row['Reporting_PHU_Longitude'])        
        PHU_dimension.loc[len(PHU_dimension)] = PHU_row
        break
for idx, row in cases.iterrows():
    
    if row["Reporting_PHU"] == "Ottawa Public Health":
        PHU_row = [idx + 100]
        PHU_row.append(row["Row_ID"])
        PHU_row.append(row['Reporting_PHU'])
        PHU_row.append(row['Reporting_PHU_Address'])
        PHU_row.append(row['Reporting_PHU_City'])
        PHU_row.append("Ontario")  
        PHU_row.append(row['Reporting_PHU_Postal_Code'])
        PHU_row.append(row['Reporting_PHU_Website'])
        PHU_row.append(row['Reporting_PHU_Latitude'])
        PHU_row.append(row['Reporting_PHU_Longitude'])        
        PHU_dimension.loc[len(PHU_dimension)] = PHU_row
        break

In [102]:
PHU_dimension

,PHU_Surrogate_Key,PHU_Key,PHU_Name,Address,City,Province,Postal_Code,URL,Latitude,Longitude
0,194,95,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,Ontario,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
1,3244,3145,Ottawa Public Health,100 Constellation Drive,Ottawa,Ontario,K2G 6J8,www.ottawapublichealth.ca,45.345665,-75.763912

In [103]:
# export PHU dimension to csv file

PHU_dimension.to_csv("PHU_dimension.csv",index=False)

# Date dimensions

In [104]:
dates = pd.read_csv("Date_Table.csv")

In [105]:
dates.head()

,Date_Key,Day,Month,Year,Day_of_Week,Week_in_Year,Weekend_YN,Holiday_YN,Season,Date_Full_Format
0,27102020,27,10,2020,Tuesday,44,N,N,Fall,2020-10-27
1,28102020,28,10,2020,Wednesday,44,N,N,Fall,2020-10-28
2,29102020,29,10,2020,Thursday,44,N,N,Fall,2020-10-29
3,30102020,30,10,2020,Friday,44,N,N,Fall,2020-10-30
4,31102020,31,10,2020,Saturday,44,Y,Y,Fall,2020-10-31

In [106]:
Onset_dimension = pd.DataFrame(columns=['Onset_Date_Surrogate_Key','Onset_Date_Key', 'Day','Month', 'Year', 'Day_of_Week',
                                     'Week_of_Year', 'Weekend', 'Holiday', 'Season', 'Date_Full_Format'])
Reported_dimension = pd.DataFrame(columns=['Reported_Date_Surrogate_Key','Reported_Date_Key', 'Day','Month', 'Year', 'Day_of_Week',
                                     'Week_of_Year', 'Weekend', 'Holiday', 'Season', 'Date_Full_Format'])
Test_dimension = pd.DataFrame(columns=['Test_Date_Surrogate_Key','Test_Date_Key', 'Day','Month', 'Year', 'Day_of_Week',
                                     'Week_of_Year', 'Weekend', 'Holiday', 'Season', 'Date_Full_Format'])
Specimen_dimension = pd.DataFrame(columns=['Specimen_Date_Surrogate_Key','Specimen_Date_Key', 'Day','Month', 'Year', 'Day_of_Week',
                                     'Week_of_Year', 'Weekend', 'Holiday', 'Season', 'Date_Full_Format'])

In [107]:
#Onset_dimension 

for idx, row in dates.iterrows():
    onset_row = [idx + 100]
    onset_row.append(row["Date_Key"])
    onset_row.append(row['Day'])
    onset_row.append(row['Month'])
    onset_row.append(row['Year'])
    onset_row.append(row['Day_of_Week'])  
    onset_row.append(row["Week_in_Year"])
    onset_row.append(row['Weekend_YN'])
    onset_row.append(row['Holiday_YN'])
    onset_row.append(row['Season'])
    onset_row.append(row['Date_Full_Format']) 
    Onset_dimension.loc[len(Onset_dimension)] = onset_row

Onset_dimension

,Onset_Date_Surrogate_Key,Onset_Date_Key,Day,Month,Year,Day_of_Week,Week_of_Year,Weekend,Holiday,Season,Date_Full_Format
0,100,27102020,27,10,2020,Tuesday,44,N,N,Fall,2020-10-27
1,101,28102020,28,10,2020,Wednesday,44,N,N,Fall,2020-10-28
2,102,29102020,29,10,2020,Thursday,44,N,N,Fall,2020-10-29
3,103,30102020,30,10,2020,Friday,44,N,N,Fall,2020-10-30
4,104,31102020,31,10,2020,Saturday,44,Y,Y,Fall,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...
119,219,23022021,23,2,2021,Tuesday,8,N,N,Winter,2021-02-23
120,220,24022021,24,2,2021,Wednesday,8,N,N,Winter,2021-02-24
121,221,25022021,25,2,2021,Thursday,8,N,N,Winter,2021-02-25
122,222,26022021,26,2,2021,Friday,8,N,N,Winter,2021-02-26
123,223,27022021,27,2,2021,Saturday,8,Y,N,Winter,2021-02-27

In [108]:
#Reported_dimension 

for idx, row in dates.iterrows():
    reported_row = [idx + 200]
    reported_row.append(row["Date_Key"])
    reported_row.append(row['Day'])
    reported_row.append(row['Month'])
    reported_row.append(row['Year'])
    reported_row.append(row['Day_of_Week'])  
    reported_row.append(row["Week_in_Year"])
    reported_row.append(row['Weekend_YN'])
    reported_row.append(row['Holiday_YN'])
    reported_row.append(row['Season'])
    reported_row.append(row['Date_Full_Format']) 
    Reported_dimension.loc[len(Reported_dimension)] = reported_row

Reported_dimension

,Reported_Date_Surrogate_Key,Reported_Date_Key,Day,Month,Year,Day_of_Week,Week_of_Year,Weekend,Holiday,Season,Date_Full_Format
0,200,27102020,27,10,2020,Tuesday,44,N,N,Fall,2020-10-27
1,201,28102020,28,10,2020,Wednesday,44,N,N,Fall,2020-10-28
2,202,29102020,29,10,2020,Thursday,44,N,N,Fall,2020-10-29
3,203,30102020,30,10,2020,Friday,44,N,N,Fall,2020-10-30
4,204,31102020,31,10,2020,Saturday,44,Y,Y,Fall,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...
119,319,23022021,23,2,2021,Tuesday,8,N,N,Winter,2021-02-23
120,320,24022021,24,2,2021,Wednesday,8,N,N,Winter,2021-02-24
121,321,25022021,25,2,2021,Thursday,8,N,N,Winter,2021-02-25
122,322,26022021,26,2,2021,Friday,8,N,N,Winter,2021-02-26
123,323,27022021,27,2,2021,Saturday,8,Y,N,Winter,2021-02-27

In [109]:
#Test_dimension 

for idx, row in dates.iterrows():
    test_row = [idx + 300]
    test_row.append(row["Date_Key"])
    test_row.append(row['Day'])
    test_row.append(row['Month'])
    test_row.append(row['Year'])
    test_row.append(row['Day_of_Week'])  
    test_row.append(row["Week_in_Year"])
    test_row.append(row['Weekend_YN'])
    test_row.append(row['Holiday_YN'])
    test_row.append(row['Season'])
    test_row.append(row['Date_Full_Format']) 
    Test_dimension.loc[len(Test_dimension)] = test_row

Test_dimension

,Test_Date_Surrogate_Key,Test_Date_Key,Day,Month,Year,Day_of_Week,Week_of_Year,Weekend,Holiday,Season,Date_Full_Format
0,300,27102020,27,10,2020,Tuesday,44,N,N,Fall,2020-10-27
1,301,28102020,28,10,2020,Wednesday,44,N,N,Fall,2020-10-28
2,302,29102020,29,10,2020,Thursday,44,N,N,Fall,2020-10-29
3,303,30102020,30,10,2020,Friday,44,N,N,Fall,2020-10-30
4,304,31102020,31,10,2020,Saturday,44,Y,Y,Fall,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...
119,419,23022021,23,2,2021,Tuesday,8,N,N,Winter,2021-02-23
120,420,24022021,24,2,2021,Wednesday,8,N,N,Winter,2021-02-24
121,421,25022021,25,2,2021,Thursday,8,N,N,Winter,2021-02-25
122,422,26022021,26,2,2021,Friday,8,N,N,Winter,2021-02-26
123,423,27022021,27,2,2021,Saturday,8,Y,N,Winter,2021-02-27

In [110]:
#Specimen_dimension 

for idx, row in dates.iterrows():
    specimen_row = [idx + 400]
    specimen_row.append(row["Date_Key"])
    specimen_row.append(row['Day'])
    specimen_row.append(row['Month'])
    specimen_row.append(row['Year'])
    specimen_row.append(row['Day_of_Week'])  
    specimen_row.append(row["Week_in_Year"])
    specimen_row.append(row['Weekend_YN'])
    specimen_row.append(row['Holiday_YN'])
    specimen_row.append(row['Season'])
    specimen_row.append(row['Date_Full_Format']) 
    Specimen_dimension.loc[len(Specimen_dimension)] = specimen_row

Specimen_dimension

,Specimen_Date_Surrogate_Key,Specimen_Date_Key,Day,Month,Year,Day_of_Week,Week_of_Year,Weekend,Holiday,Season,Date_Full_Format
0,400,27102020,27,10,2020,Tuesday,44,N,N,Fall,2020-10-27
1,401,28102020,28,10,2020,Wednesday,44,N,N,Fall,2020-10-28
2,402,29102020,29,10,2020,Thursday,44,N,N,Fall,2020-10-29
3,403,30102020,30,10,2020,Friday,44,N,N,Fall,2020-10-30
4,404,31102020,31,10,2020,Saturday,44,Y,Y,Fall,2020-10-31
...,...,...,...,...,...,...,...,...,...,...,...
119,519,23022021,23,2,2021,Tuesday,8,N,N,Winter,2021-02-23
120,520,24022021,24,2,2021,Wednesday,8,N,N,Winter,2021-02-24
121,521,25022021,25,2,2021,Thursday,8,N,N,Winter,2021-02-25
122,522,26022021,26,2,2021,Friday,8,N,N,Winter,2021-02-26
123,523,27022021,27,2,2021,Saturday,8,Y,N,Winter,2021-02-27

In [111]:
# export date dimensions to csv files

Onset_dimension.to_csv("Onset_Date_dimension.csv",index=False)
Reported_dimension.to_csv("Reported_Date_dimension.csv",index=False)
Test_dimension.to_csv("Test_Date_dimension.csv",index=False)
Specimen_dimension.to_csv("Specimen_Date_dimension.csv",index=False)

# Patient dimension

In [145]:
cases.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-06-16,2020-06-17,2020-06-17,2020-06-16,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
1,2,2020-05-14,2020-05-16,2020-05-16,2020-05-14,30s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
2,3,2020-04-30,2020-05-01,2020-05-01,2020-05-01,50s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,2020-04-14,2020-04-17,2020-04-17,2020-04-15,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,2020-07-01,2020-07-07,2020-07-07,2020-07-06,40s,MALE,OB,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [146]:
Patient_dimension = pd.DataFrame(columns=['Patient_Surrogate_Key','Patient_Key', 'Age', 'Gender', 'Acquisition_Group', 
                                          'Outbreak_Related'])

In [147]:
age_unique = cases['Age_Group'].unique()
gender_unique = cases['Client_Gender'].unique()
acq_unique = cases['Case_AcquisitionInfo'].unique()
or_unique = cases['Outbreak_Related'].unique()

print(age_unique, "\n", gender_unique, "\n", acq_unique, "\n", or_unique)

['40s' '30s' '50s' '60s' '80s' '20s' '70s' '90+' '<20' 'UNKNOWN']
 ['FEMALE' 'MALE' 'UNSPECIFIED' 'GENDER DIVERSE']
 ['OB' 'NO KNOWN EPI LINK' 'CC' 'TRAVEL' 'MISSING INFORMATION'
 'UNSPECIFIED EPI LINK']
 ['Yes' nan]

In [148]:
index = pd.MultiIndex.from_product([age_unique, gender_unique, acq_unique, or_unique], 
                                   names = ["Age", "Gender", "Acquisition_Group", "Outbreak_Related"])

joined = pd.DataFrame(index = index).reset_index()
joined

         Age          Gender     Acquisition_Group Outbreak_Related
0        40s          FEMALE                    OB              Yes
1        40s          FEMALE                    OB              NaN
2        40s          FEMALE     NO KNOWN EPI LINK              Yes
3        40s          FEMALE     NO KNOWN EPI LINK              NaN
4        40s          FEMALE                    CC              Yes
..       ...             ...                   ...              ...
475  UNKNOWN  GENDER DIVERSE                TRAVEL              NaN
476  UNKNOWN  GENDER DIVERSE   MISSING INFORMATION              Yes
477  UNKNOWN  GENDER DIVERSE   MISSING INFORMATION              NaN
478  UNKNOWN  GENDER DIVERSE  UNSPECIFIED EPI LINK              Yes
479  UNKNOWN  GENDER DIVERSE  UNSPECIFIED EPI LINK              NaN

[480 rows x 4 columns]

In [149]:
for idx, row in joined.iterrows():
    
    patient_row = [idx + 1000]
    patient_row.append(idx)
    patient_row.append(row['Age'])
    patient_row.append(row['Gender'])
    patient_row.append(row['Acquisition_Group'])
    patient_row.append(row['Outbreak_Related'])  
    Patient_dimension.loc[len(Patient_dimension)] = patient_row

Patient_dimension

,Patient_Surrogate_Key,Patient_Key,Age,Gender,Acquisition_Group,Outbreak_Related
0,1000,0,40s,FEMALE,OB,Yes
1,1001,1,40s,FEMALE,OB,NaN
2,1002,2,40s,FEMALE,NO KNOWN EPI LINK,Yes
3,1003,3,40s,FEMALE,NO KNOWN EPI LINK,NaN
4,1004,4,40s,FEMALE,CC,Yes
...,...,...,...,...,...,...
475,1475,475,UNKNOWN,GENDER DIVERSE,TRAVEL,NaN
476,1476,476,UNKNOWN,GENDER DIVERSE,MISSING INFORMATION,Yes
477,1477,477,UNKNOWN,GENDER DIVERSE,MISSING INFORMATION,NaN
478,1478,478,UNKNOWN,GENDER DIVERSE,UNSPECIFIED EPI LINK,Yes
479,1479,479,UNKNOWN,GENDER DIVERSE,UNSPECIFIED EPI LINK,NaN

In [150]:
# export patient dimension to csv file

Patient_dimension.to_csv("Patient_dimension.csv",index=False)